body {
    background: rgb(220,230,255);
    background: linear-gradient(80deg, rgba(220,230,255,1) 0%, rgba(255,255,255,1) 48%, rgba(220,230,255,1) 100%);
    margin: 15px 15px;
    display: flex;
    justify-content: center;

}

h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
}


.slogan {
    position: absolute;
    right: 670px;
    top: 50px;
}

span {

    color: #506bff;
}

.card {
    padding-top: 50px;
    margin: 20px 20px;

}

.card-wrapper {
    padding-top: 20px;
    max-height: 600px;
    max-width: 1000px;
    /*border: 1px inset #506bff;*/
    border-radius: 20px;
    background: rgb(225,235,255);
    background: linear-gradient(0deg, rgba(225,235,255,1) 0%, rgba(255,255,255,1) 58%);
    box-shadow: -7px 7px 30px -4px rgba(0,0,0,0.44);
    -webkit-box-shadow: -7px 7px 30px -4px rgba(0,0,0,0.44);
    -moz-box-shadow: -7px 7px 30px -4px rgba(0,0,0,0.44);
}

.card-title {
    text-transform: capitalize;
    color: #828282;
}

.title-text {
    text-transform: capitalize;
    margin: 20px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.author {
    color: #506bff;
    font-size: 16px;
    font-weight: 700;
}

img {
    max-height: 30px;
    max-width: 30px;
    padding-right: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: red;
    border: none;
    background: none;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

button img {

    display: flex;
    justify-content: center;
    padding: 0 15px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    background: none;

}

